  /* Disable text selection */
       * {
          user-select: none;
          -webkit-user-select: none;
            -moz-user-select: none;
          -ms-user-select: none;
            -webkit-tap-highlight-color: transparent; /* Chrome, Safari, Android */
            tap-highlight-color: transparent;         /* Standard */
        }

          /* Disable image dragging */
           img {
             -webkit-user-drag: none;
               user-drag: none;
            }